# Unreal Engine generated directories
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Rider
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Binary content - too large for free GitHub LFS
Content/
